.profilefeed__cate {
    display: flex;
    height: 50px;
    border-bottom: 1.3px solid var(--color-backbase-grey); 
}

.cate__text {
    width: 100%;
    text-align: center;
    line-height: 53px;
    margin: 0;
    font-size: 15px;
    color: var(--color-text-grey);
}

.cate__text.active {
    border-bottom: 5px solid var(--color-twitter);
    color: black;
}


.cate__text:hover {
    background-color: #f0f0f0;
    transition: all var(--animation-duration) ease-in;

}

.profilefeed {
    width: 560px;
    margin: 15px 0;
    margin-left: 307px; /*보류*/
}

.profilefeed__header {
    position: fixed;
    top:0px;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.96);;
    width: 560px;
    z-index: 5;

    display: flex;
}

.profilefeed__header__left {
    display: flex;
    align-items: center;
}


.profilefeed__header__right {
    margin-left: 30px;
}

.profilefeed__nickname {
    font-size: var(--font-regular);
    font-weight: bold;
}

.tweetsCount {
    font-size: var(--font-small);
    color: var(--color-text-grey);
}

.ArrowIcon {
    border-radius:50%;
      border: none;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;

  }

  .ArrowIcon:hover {
    background-color: var(--color-backbase-grey);
  }
